@{
    ViewData["Title"] = "Pagina principal";
}

<div class="text-center">
    <h1 class="display-4">Bienenido a la plataforma digital de la Biblioteca</h1>
    
</div>
<div class="text-center">
    <h2 class="display-4">Este proyecto fue realizado por:</h2>
    <h3 class="display-4">Getsemany Guadalupe Reyes de la Cruz</h3>
    <h3 class="display-4">Oswaldo Castro Tinoco</h3>
</div>
